<div class="containerComponentes container px-5 py-5">


    <ng-container *ngIf=" id ; else noId">
        <div *ngFor="let post of posts">
            <div *ngIf="post.id==id">
                <div class="row py-3">
                    <div class="col"><a href="/users/{{post.nombreUsuario.nombreUsuario}}"><img
                                class="rounded-circle mx-3"
                                src="../../assets/profile.jpeg" width="60px"
                                height="60px"></a><b>{{post.nombreUsuario.nombreUsuario}}</b></div>
                    <div class="col" *ngIf="esMiPost(post.nombreUsuario.nombreUsuario)"><a class="btn btn-primary"
                            href="/editPost/{{id}}">Edit</a></div>
                </div>
                <div class="row py-3">
                    <h5><a href="/posts/{{post.id}}">{{post.cabecera}}</a></h5> <button *ngIf="post.tipo=='animal'"
                        (click)="solicitarAnimal(post.id)"
                        [disabled]="estadoSolicitud=='Requested' ? 'disabled' : null">{{estadoSolicitud}}</button>
                    <p class="px-5 py-2">{{post.contenido}}</p><img class="px-5" src="../../assets/gatito.jpg">
                    <h6 class="py-3 px-5"><a href="/comments/{{post.id}}">Comments</a></h6>
                    <div class="row" *ngIf="_authService.isAuth() && _authService.isAdmin()==false">
                        <div class="col-9 d-flex justify-content-center"><img class="rounded-circle mx-3"
                                [src]=imagenUsu width="50px" height="50px">
                            <form (ngSubmit)="enviar(post.id)" [formGroup]="commentForm"
                                class="my-2 d-flex justify-content-center"><input formControlName="comment" type="text"
                                    class="form-control w-50"><button class="btn btn-primary"
                                    [disabled]="commentForm.invalid">Submit</button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noId>
        <div class="row" *ngIf="_authService.isAuth()">
            <div class="col-8"></div>
            <div class="col-4"><a  class="btn btn-success" style="color: aliceblue!important" href="/createPost/">Create a new post</a></div>
        </div>
        <div class="containerPost py-3" *ngFor="let post of posts">
            <div class="row py-3">
                <div class="col"><a *ngIf="_authService.isAuth()" href="/users/{{post.nombreUsuario.nombreUsuario}}"><img class="rounded-circle mx-3"
                            src="../../assets/profile.jpeg" width="60px"
                            height="60px"></a>
                            
                            <a *ngIf="_authService.isAuth()==false" href="#"><img class="rounded-circle mx-3"
                                src="../../assets/profile.jpeg" width="60px"
                                height="60px"></a>
                            
                            <b>{{post.nombreUsuario.nombreUsuario}}</b></div>
                <div class="col" *ngIf="esMiPost(post.nombreUsuario.nombreUsuario)"><a class="btn btn-primary"
                        href="/editPost/{{post.id}}">Edit</a></div>
            </div>
            <div class="row border border-secondary py-4 px-4">
                <h5><a href="/posts/{{post.id}}">{{post.cabecera}}</a></h5>
                <p>{{post.contenido}}</p><img class="px-5" src="../../assets/gatito.jpg">
                <h6 class="py-3 px-5"><a href="/comments/{{post.id}}">Comments</a></h6>
                <div class="row" *ngIf="_authService.isAuth() && _authService.isAdmin()==false">
                    <div class="col-9 d-flex justify-content-center"><img class="rounded-circle mx-3" [src]=imagenUsu
                            width="50px" height="50px">
                        <form (ngSubmit)="enviar(post.id)" [formGroup]="commentForm"
                            class="my-2 d-flex justify-content-center"><input formControlName="comment" type="text"
                                class="form-control w-50"><button class="btn btn-primary"
                                [disabled]="commentForm.invalid">Submit</button></form>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>

</div>