/* You can add global styles to this file, and also import other style files */

.container{
    background-color: rgba(250, 235, 215, 0.781)!important;
    width: 65%!important;
    padding-bottom: 50px;
}
